
body {
   margin: 0px;
}

button {
   font-size: 125%;
   margin: 2px;
}

select {
   font-size:60px;
}

iframe {
   border: 0px;
   height: 100%;
   width: 100%;
}

div.flex-container {
   display: flex;
   flex-flow: column wrap;
   height: 92vh;
   width: 100vw;
   background-color: lightblue;
}